#contenedor{
	height:90;
	margin:auto;
	background-color:#33CCFF;
}

#encabezado{
	text-align:center;
	background-color:#FFFFFF
	align-self:center;
}

#menu{
	background-color:#FF99FF;
	text-align:center;
}

#izquierda{
	float:right;
	background-color:00FF00;
	width:20%;
}

#derecha{
	background-color:CCFFFF;
	float:left;
	width:80%;
	text-align:center;
}

#piepagina{
	float:left;
	color:both;
	background-color:00FF00;
}

